{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    
    form{
        box-sizing: border-box;
        border: 1px solid #3CB815;
        border-radius: 10px;
        width: 530px;
        padding-top: 20px;
        margin: 0 auto;
        height: 500px;
    }
    .label{
        width: 210px;
        padding-top: 15px;
        color: #000;
      
    }
    .input{
        width: 250px;
        height: 27px;
    }
    .lab{
    width: 250px;
    height: 27px;
}

    
</style >
<br><br><br><br><br><br><br><br>


    <center>
        <form action="{% url 'register' %}" method='POST'>
            {% csrf_token %}
            <!-- {{form.as_p}} -->
            <label class="label" for="first_name">First name</label>
            <input class="input" type="text" name="first_name" required>
            <br>
            <label class="label" for="last_name">Last name</label>
            <input class="input" type="text" name="last_name" required>
            <br>
            <label class="label" for="user_name">User name</label>
            <input class="input" type="text" name="username" required>
            <br>
            <label class="label" for="email">Email</label>
            <input class="input" type="email" name="email" placeholder="johndoe@gmail.com" required>
            <br>
            <label class="label" for="password">Password</label>
            <input class="input" type="password" name="password1" required>
            <br>
            <label class="label" for="password">Confirm Password</label>
            <input class="input" type="password" name="password2" required>
            <br>
            <label class="label" for="gender">Gender</label>

            <select class="lab" name="gender" id="select">
                <option value="female">Female</option>
                <option value="male">Male</option>
                <option value="others">Others</option>
            </select>
            <br>
            <label class="label" for="phone_number">Phone number</label>
            <input class="input" type="tel" name="phone_number" placeholder="+237 677218891" required> 
            <br>
            <label class="label" for="nationality">Nationality</label>
            <input class="input" type="text" name="nationality" placeholder="Cameroonian" required>
           
            <br><br><br>
            
            <input type="submit" value="Submit" class="btn btn-success">
            <!-- <button class="send">send</button> -->
        </form>
   

        <div>
            {% for message in messages %}

            <h3>{{message}}</h3>
            
            {% endfor %}
        </div> 
    </center>
{% endblock %}
{% block footer %}
{% include 'footer.html' %}
{% endblock %}

{% block js %}
 <!-- add any specific javascript here -->
{% endblock %}